body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.homepage-container {
  background: url('/images/bg.jpg') center center no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background-size: cover;
}